@import "tailwindcss";
html, body { scroll-behavior: smooth; }

/* opcional: para ocultar scroll del menú si lo usas */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }



/* 1) Tokens de tema (claro por defecto) */
:root {
  --bg: 242, 241, 240;      /* slate-50/100 → gris muy suave */
  --fg: 15 23 42;         /* slate-900 */
  --muted: 100 116 139;   /* slate-500 */
  --card: 204, 201, 198;    /* las tarjetas siguen blancas para contraste */
  --card-ring: 0 0 0 / 0.08;
  --accent: 57, 142, 196;    /* indigo-600 */
  --accent-fg: 255 255 255;
  --brand: 57, 142, 196; 
}


/* 2) Tema oscuro */
.dark {
  --bg: 2 6 23;
  --fg: 241 245 249;
  --muted: 148 163 184;
  --card: 15 23 42;
  --card-ring: 51 65 85;
  --accent: 21, 93, 176;
  --accent-fg: 255 255 255;
  --brand: 21, 93, 176; 
}



@layer utilities {
  .bg-app { background-color: rgb(var(--bg)); }
  .text-app { color: rgb(var(--fg)); }
  .text-muted { color: rgb(var(--muted)); }
  .bg-card { background-color: rgb(var(--card)); }
  .ring-card { --tw-ring-color: rgb(var(--card-ring)); }
  .btn-accent {
    background-color: rgb(var(--accent));
    color: rgb(var(--accent-fg));
  }
  .text-brand { color: rgb(var(--brand)); }
}

