@import "tailwindcss";
html, body { scroll-behavior: smooth; }

/* opcional: para ocultar scroll del menú si lo usas */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }


